@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.header {
  padding: 0 1.5rem;
  height: 60px;
  border-bottom: 1px solid $border-gray;

  .logo_wrap {
    margin-right: 1rem;

    .logo {
      font-size: 1.6rem;
      color: $text-primary;
      font-family: "Dancing Script", cursive;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  ul li a {
    color: $text-gray;

    &:hover {
      color: $pink;
    }
  }

  .ico_wrap {
    padding-left: .7rem;
    color: $text-primary;

    .ico {
      font-size: 1.8rem;
    }
  }

  .menus {
    display: flex;
    padding: 0.75rem;

    li {
      &:first-child a {
        padding-left: 0;
      }

      a {
        padding: 0 0.5rem;
      }
    }
  }

  .signup_wrap {
    display: none;
    margin-left: 1.5rem;

    .btn {
      margin-top: 0;
    }
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0 5rem;
    height: 80px;

    .menus li {
      margin: 0 0.5rem;
    }

    .signup_wrap {
      display: block;
    }
  }
}
