@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.header {
  height: 60px;
  border-bottom: 1px solid $border-gray;

  .logo_wrap {
    margin-right: 1rem;

    .logo {
      font-size: 1.6rem;
      color: $text-dark;
      font-family: "Dancing Script", cursive;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  ul li a {
    color: $text-gray;

    &:hover {
      color: $pink;
    }
  }

  .menus {
    padding: 0.75rem;
  }

  .signup_wrap {
    display: none;
    margin-left: 1.5rem;

    .btn {
      margin-top: 0;
    }
  }
}

@media (min-width: 768px) {
  .header {
    height: 80px;

    .signup_wrap {
      display: block;
    }
  }
}
