@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0 1.5rem;
  height: 60px;
  background-color: #Fff;
  border-bottom: 1px solid $border-gray;

  .logo_wrap {
    margin-right: 1rem;

    .logo {
      font-size: 1.6rem;
      color: $text-primary;
      font-family: "Dancing Script", cursive;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  ul li a {
    color: $text-gray;

    &:hover {
      color: $pink;
    }
  }

  .ico_wrap {
    padding-left: .7rem;
    color: $text-primary;

    .ico {
      font-size: 1.8rem;
    }
  }

  .menus {
    display: flex;
    padding: 0.75rem;

    li {
      &:first-child a {
        padding-left: 0;
      }

      a {
        padding: 0 0.5rem;
      }
    }
  }

  .btn_login_wrap {
    &::after {
      content: '|';
      display: inline-block;
      color: #efefef;
    }

    .btn_login {
      margin-right: .9rem;
      padding: 5px 12px;
      color: #3d3d4e;
      border: 1px solid #e7e7e9;
      border-radius: 4px;
    }
  }
}

@media (min-width: 768px) {
  .header {
    position: static;
    padding: 0 5rem;
    height: 80px;

    .menus li {
      margin: 0 0.5rem;
    }
  }
}
