@charset 'utf-8';

// list
.category_wrap {
  margin-bottom: 2rem;

  ul li {
    display: inline-block;
    padding: 10px 12px;
    color: $text-gray;

    &:hover {
      color: $text-primary;
      cursor: pointer;
    }

    &.active {
      font-weight: 500;
      color: #fff;
      background: $mint;
      border-radius: $border-radius-default;
    }
  }
}

.menus .menus_area {
  padding-bottom: 3.5rem;

  .menus_title {
    padding: 1.4rem 1.2rem;
    font-weight: 500;
    background-color: #f3f3f4;
    border-radius: 4px;
  }

  .img_wrap {
    position: relative;
    padding-bottom: 104%;
    background-color: #eceefc;
    border-radius: $border-radius-default;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  ul li {
    margin-bottom: 1.2rem;
  }

  .menu_name {
    padding-top: 10px;
    font-size: 0.875rem;
    text-align: center;
  }
}

// detail
.menu_img {
  overflow: hidden;

  img {
    border-radius: 12px;
  }
}
.menu_info {
  .menu_title_wrap {
    padding: 1.5rem 0 2rem;

    h2 {
      display: inline-block;
      margin: 0;
      padding-right: 5px;
      font-weight: 600;
    }
    small {
      font-size: 0.9rem;
      color: $purple;
    }
    p {
      padding-top: 5px;
      font-size: 0.875rem;
      color: $text-dark-gray;
    }
  }

  .nutrition_title_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0.9rem;
    background-color: $bg-gray;

    h4 {
      font-size: 1rem;
      line-height: 1.1rem;
    }

    .size {
      margin-left: auto;
      font-weight: 500;
    }
  }

  .nutrition_table_wrap {
    padding-bottom: .6rem;
    border-bottom: 1px solid $border-gray;
  
    .nutrition_table {
      margin-top: .5rem;
      width: 100%;

      tr {
        > td:nth-child(2) { padding: 0.2rem 1rem 0.2rem 0; }

        th, td {
          padding: .2rem .4rem;
          font-size: 0.9rem;
        }
        th {
          margin-bottom: 0;
          font-weight: 400;
          color: $text-gray;
          text-align: left;
        }
        td { text-align: right; }
      }
    }
  }

  .desc {
    padding-top: 2rem;
  }
}

@media (min-width: 768px) {
  .menu_info {
    .menu_title_wrap {
      padding-top: 1.5rem;
    }

    .nutrition_title_wrap {
      padding: 0.7rem 1.4rem;
    }
    .nutrition_table_wrap .nutrition_table tr {
      th, td {
        padding: .2rem 1.4rem;
      }
    }
  }
}
