@charset 'utf-8';

html,
body {
  font-size: 14px;
}

.error {
  color: #ff5555;
  background: #ffeeee;
}
.text-gray {
  color: $text-gray;
}

.text-purple {
  color: $purple;
}

.text-black {
  color: #000;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.input_wrap {
  margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}
