@charset 'utf-8';

html,
body {
  font-size: 14px;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
}

.text-gray {
  color: $text-gray;
}

.text-purple {
  color: $purple;
}

.text-black {
  color: #000;
}

.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.input_wrap {
  margin-bottom: 1.2rem;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
  h2 { margin-bottom: 4rem; }
  .container { padding: 4rem 1rem; }
}
