$text-primary: #0d0c22;
$text-gray: #6e6d7a;
$text-dark-gray: #3d3d4e;

$border-gray: #e7e7e9;

$bg-red: #ffeeee;
$bg-gray: #f3f3f4;
$bg-purple: rgba(79, 60, 201, 0.05);

$purple: #4f3cc9;
$pink: #ea4c89;
$red: #ff5555;
$mint: #4bb7bf;

$border-radius-default: 8px;

@mixin fixedBtnWrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
}

@mixin fixedBtn {
  padding: 1.2rem;
  height: 55px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0;
}
